.addproduct form{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.addproduct form input{
    width: 40%;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
}
.addproduct form textarea{
    width: 40%;
    margin: 5px;
    height: 200px;
    border-radius: 5px;
}
.add-button{
    background-color: rgb(205, 195, 50);
    color:rgb(17, 13, 12) ;
     border: none;
     border-radius: 4px;
     width: 150px !important;
     padding: 0.4rem 1.2rem;
     font-weight: 800;
     font-style: italic;
   
}
.add-button:hover{
    color: white;
    background-color: rgb(67, 64, 224);
}